*{margin:0; padding:0}
html{font-size:62.5%;}
ul,li{list-style:none;}
img{width:100%};
.container{max-width:100em; min-width:400px;  padding:0 1.5em 0 1.5em; margin:0 auto;}
.container ul li{box-sizing:border-box; padding:0 2em 1em 0; width:25%;
height:610px!important;
}
@media screen and (max-width:768px){
	.container ul li{box-sizing:border-box; padding:0 2em 1em 0; width:33.333333333%;
	height:auto!important;
	}
	.container ul li article{display:none;}
}
@media screen and (max-width:480px){
	.container ul li{width:50%;
	height:auto!important;
	}
	.container ul li article{display:none;}
}